body {
  text-align: center;
}

 .title, .first-heading {
  font-family: Helvetica;
  font-size:  70px;
  font-weight: bold;
  color: white;
}

.title {
  background: url(/Users/fatema/Documents/broadway/resources/images/the-flatiron-building.png)
}

.title, nav {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
